body {
    font-family: tahoma, serif;
    background-image: url("../assets/background.png") ;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    margin: 100px;
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    border: 2px solid #540000;
    border-radius: 8px;
    background-color: #00b193;
}

.card {
    width: 200px;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.card h3 {
    margin: 0;
    font-size: 18px;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin: 5px 0;
}

.card input {
    margin-right: 10px;
}

.card p {
    font-size: 12px;
    color: #555;
}

.columns-container {
    display: flex;
    flex-direction: row;
    gap: 210px;
}

form {
    margin-bottom: 30px;
    padding: 22px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form div {
    margin-bottom: 10px;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    padding: 10px 20px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #5a54e6;
}

